<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:jaxws="http://cxf.apache.org/jaxws" xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans   
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://cxf.apache.org/jaxws   
        http://cxf.apache.org/schemas/jaxws.xsd   
        http://cxf.apache.org/core   
        http://cxf.apache.org/schemas/core.xsd
        http://www.springframework.org/schema/context 
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/util 
        http://www.springframework.org/schema/util/spring-util.xsd">

	<cxf:bus>
		<cxf:features>
			<cxf:logging />
		</cxf:features>
	</cxf:bus>

	<!-- cxf base -->
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />

	<!-- server -->
	<jaxws:endpoint implementor="#productService" address="/product" />

	<jaxws:endpoint implementor="#userService" address="/user" />

	<jaxws:endpoint implementor="#accountService" address="/account" />

	<jaxws:endpoint implementor="#smsService" address="/sms" />

	<jaxws:endpoint implementor="#payService" address="/pay" />

	<jaxws:endpoint implementor="#orderService" address="/order" />

	<jaxws:endpoint implementor="#dictService" address="/dict" />
	
	<jaxws:endpoint implementor="#loginUidService" address="/loginUid" />

	<jaxws:endpoint implementor="#sinaPayService" address="/sinaPay" />
	
	<jaxws:endpoint implementor="#experienceService" address="experience" />
</beans>

