<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jvv.p2p.dao.TradeDtoMapper">

	<resultMap id="BaseResultMap" type="com.jvv.p2p.entity.TradeDto">
		<id column="id" property="id" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
		<result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
		<result column="chanel_id" property="chanelId" jdbcType="VARCHAR" />
		<result column="ext_id" property="extId" jdbcType="INTEGER" />
		<result column="code" property="code" jdbcType="VARCHAR" />
		<result column="demand_id" property="demandId" jdbcType="INTEGER" />
		<result column="trade_name" property="tradeName" jdbcType="VARCHAR" />
		<result column="trade_amount" property="tradeAmount" jdbcType="DECIMAL" />
		<result column="perlen" property="perlen" jdbcType="DECIMAL" />
		<result column="interest_rate" property="interestRate" jdbcType="DECIMAL" />
		<result column="least_invest_amount" property="leastInvestAmount" jdbcType="DECIMAL" />
		<result column="invested_amount" property="investedAmount" jdbcType="DECIMAL" />
		<result column="saturation_condition_method" property="saturationConditionMethod" jdbcType="VARCHAR" />
		<result column="saturation_condition" property="saturationCondition" jdbcType="DECIMAL" />
		<result column="time_limit_unit" property="timeLimitUnit" jdbcType="VARCHAR" />
		<result column="time_limit" property="timeLimit" jdbcType="DECIMAL" />
		<result column="invest_start_date" property="investStartDate" jdbcType="TIMESTAMP" />
		<result column="invest_end_date" property="investEndDate" jdbcType="TIMESTAMP" />
		<result column="trade_expire_date" property="tradeExpireDate" jdbcType="TIMESTAMP" />
		<result column="trade_effective_date" property="tradeEffectiveDate" jdbcType="TIMESTAMP" />
		<result column="trade_finish_date" property="tradeFinishDate" jdbcType="TIMESTAMP" />
		<result column="ext_create_time" property="extCreateTime" jdbcType="TIMESTAMP" />
		<result column="status" property="status" jdbcType="DECIMAL" />
		<result column="iscreatecontract" property="iscreatecontract" jdbcType="DECIMAL" />
		<result column="is_payed" property="isPayed" jdbcType="DECIMAL" />
		<result column="allow_defer_day" property="allowDeferDay" jdbcType="DECIMAL" />
		<result column="month_bill_day" property="monthBillDay" jdbcType="DECIMAL" />
		<result column="trade_status" property="tradeStatus" jdbcType="DECIMAL" />
		<result column="charge_status" property="chargeStatus" jdbcType="DECIMAL" />
		<result column="biz_type" property="bizType" jdbcType="VARCHAR" />
		<result column="pay_bill_type" property="payBillType" jdbcType="DECIMAL" />
		<result column="loaner_id" property="loanerId" jdbcType="INTEGER" />
		<result column="guarantee_id" property="guaranteeId" jdbcType="INTEGER" />
		<result column="max_invest_amount" property="maxInvestAmount" jdbcType="DECIMAL" />
		<result column="isinvest" property="isinvest" jdbcType="VARCHAR" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria" separator="or">
				<if test="criteria.valid">
					<trim prefix="(" suffix=")" prefixOverrides="and">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		id, create_time, update_time, chanel_id, ext_id, code, demand_id, trade_name, trade_amount,
		perlen, interest_rate,
		least_invest_amount, invested_amount, saturation_condition_method,
		saturation_condition, time_limit_unit, time_limit, invest_start_date,
		invest_end_date,
		trade_expire_date, trade_effective_date, trade_finish_date, ext_create_time, status,
		iscreatecontract, is_payed,
		allow_defer_day, month_bill_day, trade_status, charge_status,
		biz_type, pay_bill_type, loaner_id, guarantee_id, max_invest_amount, isinvest
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap" parameterType="com.jvv.p2p.entity.TradeDtoExample">
		select
		<if test="distinct">
			distinct
		</if>
		<include refid="Base_Column_List" />
		from p2p_trade
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
		select
		<include refid="Base_Column_List" />
		from p2p_trade
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from p2p_trade
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<delete id="deleteByExample" parameterType="com.jvv.p2p.entity.TradeDtoExample">
		delete from p2p_trade
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert" parameterType="com.jvv.p2p.entity.TradeDto">
		insert into p2p_trade (id, create_time, update_time,
		chanel_id, ext_id, code,
		demand_id, trade_name,
		trade_amount,
		perlen, interest_rate, least_invest_amount,
		invested_amount, saturation_condition_method,
		saturation_condition,
		time_limit_unit, time_limit,
		invest_start_date, invest_end_date, trade_expire_date,
		trade_effective_date, trade_finish_date,
		ext_create_time, status, iscreatecontract,
		is_payed, allow_defer_day, month_bill_day,
		trade_status, charge_status, biz_type,
		pay_bill_type,
		loaner_id, guarantee_id,
		max_invest_amount, isinvest)
		values (#{id,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP},
		#{chanelId,jdbcType=VARCHAR}, #{extId,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR},
		#{demandId,jdbcType=INTEGER}, #{tradeName,jdbcType=VARCHAR}, #{tradeAmount,jdbcType=DECIMAL},
		#{perlen,jdbcType=DECIMAL},
		#{interestRate,jdbcType=DECIMAL}, #{leastInvestAmount,jdbcType=DECIMAL},
		#{investedAmount,jdbcType=DECIMAL},
		#{saturationConditionMethod,jdbcType=VARCHAR},
		#{saturationCondition,jdbcType=DECIMAL}, #{timeLimitUnit,jdbcType=VARCHAR},
		#{timeLimit,jdbcType=DECIMAL},
		#{investStartDate,jdbcType=TIMESTAMP}, #{investEndDate,jdbcType=TIMESTAMP},
		#{tradeExpireDate,jdbcType=TIMESTAMP},
		#{tradeEffectiveDate,jdbcType=TIMESTAMP}, #{tradeFinishDate,jdbcType=TIMESTAMP},
		#{extCreateTime,jdbcType=TIMESTAMP}, #{status,jdbcType=DECIMAL}, #{iscreatecontract,jdbcType=DECIMAL},
		#{isPayed,jdbcType=DECIMAL},
		#{allowDeferDay,jdbcType=DECIMAL}, #{monthBillDay,jdbcType=DECIMAL},
		#{tradeStatus,jdbcType=DECIMAL}, #{chargeStatus,jdbcType=DECIMAL},
		#{bizType,jdbcType=VARCHAR},
		#{payBillType,jdbcType=DECIMAL}, #{loanerId,jdbcType=INTEGER}, #{guaranteeId,jdbcType=INTEGER},
		#{maxInvestAmount,jdbcType=DECIMAL}, #{isinvest,jdbcType=VARCHAR})
	</insert>
	<insert id="insertSelective" parameterType="com.jvv.p2p.entity.TradeDto">
		insert into p2p_trade
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
			<if test="updateTime != null">
				update_time,
			</if>
			<if test="chanelId != null">
				chanel_id,
			</if>
			<if test="extId != null">
				ext_id,
			</if>
			<if test="code != null">
				code,
			</if>
			<if test="demandId != null">
				demand_id,
			</if>
			<if test="tradeName != null">
				trade_name,
			</if>
			<if test="tradeAmount != null">
				trade_amount,
			</if>
			<if test="perlen != null">
				perlen,
			</if>
			<if test="interestRate != null">
				interest_rate,
			</if>
			<if test="leastInvestAmount != null">
				least_invest_amount,
			</if>
			<if test="investedAmount != null">
				invested_amount,
			</if>
			<if test="saturationConditionMethod != null">
				saturation_condition_method,
			</if>
			<if test="saturationCondition != null">
				saturation_condition,
			</if>
			<if test="timeLimitUnit != null">
				time_limit_unit,
			</if>
			<if test="timeLimit != null">
				time_limit,
			</if>
			<if test="investStartDate != null">
				invest_start_date,
			</if>
			<if test="investEndDate != null">
				invest_end_date,
			</if>
			<if test="tradeExpireDate != null">
				trade_expire_date,
			</if>
			<if test="tradeEffectiveDate != null">
				trade_effective_date,
			</if>
			<if test="tradeFinishDate != null">
				trade_finish_date,
			</if>
			<if test="extCreateTime != null">
				ext_create_time,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="iscreatecontract != null">
				iscreatecontract,
			</if>
			<if test="isPayed != null">
				is_payed,
			</if>
			<if test="allowDeferDay != null">
				allow_defer_day,
			</if>
			<if test="monthBillDay != null">
				month_bill_day,
			</if>
			<if test="tradeStatus != null">
				trade_status,
			</if>
			<if test="chargeStatus != null">
				charge_status,
			</if>
			<if test="bizType != null">
				biz_type,
			</if>
			<if test="payBillType != null">
				pay_bill_type,
			</if>
			<if test="loanerId != null">
				loaner_id,
			</if>
			<if test="guaranteeId != null">
				guarantee_id,
			</if>
			<if test="maxInvestAmount != null">
				max_invest_amount,
			</if>
			<if test="isinvest != null">
				isinvest,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				#{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="chanelId != null">
				#{chanelId,jdbcType=VARCHAR},
			</if>
			<if test="extId != null">
				#{extId,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				#{code,jdbcType=VARCHAR},
			</if>
			<if test="demandId != null">
				#{demandId,jdbcType=INTEGER},
			</if>
			<if test="tradeName != null">
				#{tradeName,jdbcType=VARCHAR},
			</if>
			<if test="tradeAmount != null">
				#{tradeAmount,jdbcType=DECIMAL},
			</if>
			<if test="perlen != null">
				#{perlen,jdbcType=DECIMAL},
			</if>
			<if test="interestRate != null">
				#{interestRate,jdbcType=DECIMAL},
			</if>
			<if test="leastInvestAmount != null">
				#{leastInvestAmount,jdbcType=DECIMAL},
			</if>
			<if test="investedAmount != null">
				#{investedAmount,jdbcType=DECIMAL},
			</if>
			<if test="saturationConditionMethod != null">
				#{saturationConditionMethod,jdbcType=VARCHAR},
			</if>
			<if test="saturationCondition != null">
				#{saturationCondition,jdbcType=DECIMAL},
			</if>
			<if test="timeLimitUnit != null">
				#{timeLimitUnit,jdbcType=VARCHAR},
			</if>
			<if test="timeLimit != null">
				#{timeLimit,jdbcType=DECIMAL},
			</if>
			<if test="investStartDate != null">
				#{investStartDate,jdbcType=TIMESTAMP},
			</if>
			<if test="investEndDate != null">
				#{investEndDate,jdbcType=TIMESTAMP},
			</if>
			<if test="tradeExpireDate != null">
				#{tradeExpireDate,jdbcType=TIMESTAMP},
			</if>
			<if test="tradeEffectiveDate != null">
				#{tradeEffectiveDate,jdbcType=TIMESTAMP},
			</if>
			<if test="tradeFinishDate != null">
				#{tradeFinishDate,jdbcType=TIMESTAMP},
			</if>
			<if test="extCreateTime != null">
				#{extCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				#{status,jdbcType=DECIMAL},
			</if>
			<if test="iscreatecontract != null">
				#{iscreatecontract,jdbcType=DECIMAL},
			</if>
			<if test="isPayed != null">
				#{isPayed,jdbcType=DECIMAL},
			</if>
			<if test="allowDeferDay != null">
				#{allowDeferDay,jdbcType=DECIMAL},
			</if>
			<if test="monthBillDay != null">
				#{monthBillDay,jdbcType=DECIMAL},
			</if>
			<if test="tradeStatus != null">
				#{tradeStatus,jdbcType=DECIMAL},
			</if>
			<if test="chargeStatus != null">
				#{chargeStatus,jdbcType=DECIMAL},
			</if>
			<if test="bizType != null">
				#{bizType,jdbcType=VARCHAR},
			</if>
			<if test="payBillType != null">
				#{payBillType,jdbcType=DECIMAL},
			</if>
			<if test="loanerId != null">
				#{loanerId,jdbcType=INTEGER},
			</if>
			<if test="guaranteeId != null">
				#{guaranteeId,jdbcType=INTEGER},
			</if>
			<if test="maxInvestAmount != null">
				#{maxInvestAmount,jdbcType=DECIMAL},
			</if>
			<if test="isinvest != null">
				#{isinvest,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample" parameterType="com.jvv.p2p.entity.TradeDtoExample" resultType="java.lang.Integer">
		select count(*) from p2p_trade
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update p2p_trade
		<set>
			<if test="record.id != null">
				id = #{record.id,jdbcType=VARCHAR},
			</if>
			<if test="record.createTime != null">
				create_time = #{record.createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.updateTime != null">
				update_time = #{record.updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.chanelId != null">
				chanel_id = #{record.chanelId,jdbcType=VARCHAR},
			</if>
			<if test="record.extId != null">
				ext_id = #{record.extId,jdbcType=INTEGER},
			</if>
			<if test="record.code != null">
				code = #{record.code,jdbcType=VARCHAR},
			</if>
			<if test="record.demandId != null">
				demand_id = #{record.demandId,jdbcType=INTEGER},
			</if>
			<if test="record.tradeName != null">
				trade_name = #{record.tradeName,jdbcType=VARCHAR},
			</if>
			<if test="record.tradeAmount != null">
				trade_amount = #{record.tradeAmount,jdbcType=DECIMAL},
			</if>
			<if test="record.perlen != null">
				perlen = #{record.perlen,jdbcType=DECIMAL},
			</if>
			<if test="record.interestRate != null">
				interest_rate = #{record.interestRate,jdbcType=DECIMAL},
			</if>
			<if test="record.leastInvestAmount != null">
				least_invest_amount = #{record.leastInvestAmount,jdbcType=DECIMAL},
			</if>
			<if test="record.investedAmount != null">
				invested_amount = #{record.investedAmount,jdbcType=DECIMAL},
			</if>
			<if test="record.saturationConditionMethod != null">
				saturation_condition_method = #{record.saturationConditionMethod,jdbcType=VARCHAR},
			</if>
			<if test="record.saturationCondition != null">
				saturation_condition = #{record.saturationCondition,jdbcType=DECIMAL},
			</if>
			<if test="record.timeLimitUnit != null">
				time_limit_unit = #{record.timeLimitUnit,jdbcType=VARCHAR},
			</if>
			<if test="record.timeLimit != null">
				time_limit = #{record.timeLimit,jdbcType=DECIMAL},
			</if>
			<if test="record.investStartDate != null">
				invest_start_date = #{record.investStartDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.investEndDate != null">
				invest_end_date = #{record.investEndDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.tradeExpireDate != null">
				trade_expire_date = #{record.tradeExpireDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.tradeEffectiveDate != null">
				trade_effective_date = #{record.tradeEffectiveDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.tradeFinishDate != null">
				trade_finish_date = #{record.tradeFinishDate,jdbcType=TIMESTAMP},
			</if>
			<if test="record.extCreateTime != null">
				ext_create_time = #{record.extCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="record.status != null">
				status = #{record.status,jdbcType=DECIMAL},
			</if>
			<if test="record.iscreatecontract != null">
				iscreatecontract = #{record.iscreatecontract,jdbcType=DECIMAL},
			</if>
			<if test="record.isPayed != null">
				is_payed = #{record.isPayed,jdbcType=DECIMAL},
			</if>
			<if test="record.allowDeferDay != null">
				allow_defer_day = #{record.allowDeferDay,jdbcType=DECIMAL},
			</if>
			<if test="record.monthBillDay != null">
				month_bill_day = #{record.monthBillDay,jdbcType=DECIMAL},
			</if>
			<if test="record.tradeStatus != null">
				trade_status = #{record.tradeStatus,jdbcType=DECIMAL},
			</if>
			<if test="record.chargeStatus != null">
				charge_status = #{record.chargeStatus,jdbcType=DECIMAL},
			</if>
			<if test="record.bizType != null">
				biz_type = #{record.bizType,jdbcType=VARCHAR},
			</if>
			<if test="record.payBillType != null">
				pay_bill_type = #{record.payBillType,jdbcType=DECIMAL},
			</if>
			<if test="record.loanerId != null">
				loaner_id = #{record.loanerId,jdbcType=INTEGER},
			</if>
			<if test="record.guaranteeId != null">
				guarantee_id = #{record.guaranteeId,jdbcType=INTEGER},
			</if>
			<if test="record.maxInvestAmount != null">
				max_invest_amount = #{record.maxInvestAmount,jdbcType=DECIMAL},
			</if>
			<if test="record.isinvest != null">
				isinvest = #{record.isinvest,jdbcType=VARCHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update p2p_trade
		set id = #{record.id,jdbcType=VARCHAR},
		create_time = #{record.createTime,jdbcType=TIMESTAMP},
		update_time =
		#{record.updateTime,jdbcType=TIMESTAMP},
		chanel_id = #{record.chanelId,jdbcType=VARCHAR},
		ext_id = #{record.extId,jdbcType=INTEGER},
		code =
		#{record.code,jdbcType=VARCHAR},
		demand_id = #{record.demandId,jdbcType=INTEGER},
		trade_name = #{record.tradeName,jdbcType=VARCHAR},
		trade_amount = #{record.tradeAmount,jdbcType=DECIMAL},
		perlen = #{record.perlen,jdbcType=DECIMAL},
		interest_rate =
		#{record.interestRate,jdbcType=DECIMAL},
		least_invest_amount = #{record.leastInvestAmount,jdbcType=DECIMAL},
		invested_amount =
		#{record.investedAmount,jdbcType=DECIMAL},
		saturation_condition_method = #{record.saturationConditionMethod,jdbcType=VARCHAR},
		saturation_condition = #{record.saturationCondition,jdbcType=DECIMAL},
		time_limit_unit = #{record.timeLimitUnit,jdbcType=VARCHAR},
		time_limit = #{record.timeLimit,jdbcType=DECIMAL},
		invest_start_date = #{record.investStartDate,jdbcType=TIMESTAMP},
		invest_end_date =
		#{record.investEndDate,jdbcType=TIMESTAMP},
		trade_expire_date = #{record.tradeExpireDate,jdbcType=TIMESTAMP},
		trade_effective_date =
		#{record.tradeEffectiveDate,jdbcType=TIMESTAMP},
		trade_finish_date = #{record.tradeFinishDate,jdbcType=TIMESTAMP},
		ext_create_time =
		#{record.extCreateTime,jdbcType=TIMESTAMP},
		status = #{record.status,jdbcType=DECIMAL},
		iscreatecontract =
		#{record.iscreatecontract,jdbcType=DECIMAL},
		is_payed = #{record.isPayed,jdbcType=DECIMAL},
		allow_defer_day =
		#{record.allowDeferDay,jdbcType=DECIMAL},
		month_bill_day = #{record.monthBillDay,jdbcType=DECIMAL},
		trade_status =
		#{record.tradeStatus,jdbcType=DECIMAL},
		charge_status = #{record.chargeStatus,jdbcType=DECIMAL},
		biz_type =
		#{record.bizType,jdbcType=VARCHAR},
		pay_bill_type = #{record.payBillType,jdbcType=DECIMAL},
		loaner_id = #{record.loanerId,jdbcType=INTEGER},
		guarantee_id = #{record.guaranteeId,jdbcType=INTEGER},
		max_invest_amount = #{record.maxInvestAmount,jdbcType=DECIMAL},
		isinvest =
		#{record.isinvest,jdbcType=VARCHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective" parameterType="com.jvv.p2p.entity.TradeDto">
		update p2p_trade
		<set>
			<if test="createTime != null">
				create_time = #{createTime,jdbcType=TIMESTAMP},
			</if>
			<if test="updateTime != null">
				update_time = #{updateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="chanelId != null">
				chanel_id = #{chanelId,jdbcType=VARCHAR},
			</if>
			<if test="extId != null">
				ext_id = #{extId,jdbcType=INTEGER},
			</if>
			<if test="code != null">
				code = #{code,jdbcType=VARCHAR},
			</if>
			<if test="demandId != null">
				demand_id = #{demandId,jdbcType=INTEGER},
			</if>
			<if test="tradeName != null">
				trade_name = #{tradeName,jdbcType=VARCHAR},
			</if>
			<if test="tradeAmount != null">
				trade_amount = #{tradeAmount,jdbcType=DECIMAL},
			</if>
			<if test="perlen != null">
				perlen = #{perlen,jdbcType=DECIMAL},
			</if>
			<if test="interestRate != null">
				interest_rate = #{interestRate,jdbcType=DECIMAL},
			</if>
			<if test="leastInvestAmount != null">
				least_invest_amount = #{leastInvestAmount,jdbcType=DECIMAL},
			</if>
			<if test="investedAmount != null">
				invested_amount = #{investedAmount,jdbcType=DECIMAL},
			</if>
			<if test="saturationConditionMethod != null">
				saturation_condition_method = #{saturationConditionMethod,jdbcType=VARCHAR},
			</if>
			<if test="saturationCondition != null">
				saturation_condition = #{saturationCondition,jdbcType=DECIMAL},
			</if>
			<if test="timeLimitUnit != null">
				time_limit_unit = #{timeLimitUnit,jdbcType=VARCHAR},
			</if>
			<if test="timeLimit != null">
				time_limit = #{timeLimit,jdbcType=DECIMAL},
			</if>
			<if test="investStartDate != null">
				invest_start_date = #{investStartDate,jdbcType=TIMESTAMP},
			</if>
			<if test="investEndDate != null">
				invest_end_date = #{investEndDate,jdbcType=TIMESTAMP},
			</if>
			<if test="tradeExpireDate != null">
				trade_expire_date = #{tradeExpireDate,jdbcType=TIMESTAMP},
			</if>
			<if test="tradeEffectiveDate != null">
				trade_effective_date = #{tradeEffectiveDate,jdbcType=TIMESTAMP},
			</if>
			<if test="tradeFinishDate != null">
				trade_finish_date = #{tradeFinishDate,jdbcType=TIMESTAMP},
			</if>
			<if test="extCreateTime != null">
				ext_create_time = #{extCreateTime,jdbcType=TIMESTAMP},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=DECIMAL},
			</if>
			<if test="iscreatecontract != null">
				iscreatecontract = #{iscreatecontract,jdbcType=DECIMAL},
			</if>
			<if test="isPayed != null">
				is_payed = #{isPayed,jdbcType=DECIMAL},
			</if>
			<if test="allowDeferDay != null">
				allow_defer_day = #{allowDeferDay,jdbcType=DECIMAL},
			</if>
			<if test="monthBillDay != null">
				month_bill_day = #{monthBillDay,jdbcType=DECIMAL},
			</if>
			<if test="tradeStatus != null">
				trade_status = #{tradeStatus,jdbcType=DECIMAL},
			</if>
			<if test="chargeStatus != null">
				charge_status = #{chargeStatus,jdbcType=DECIMAL},
			</if>
			<if test="bizType != null">
				biz_type = #{bizType,jdbcType=VARCHAR},
			</if>
			<if test="payBillType != null">
				pay_bill_type = #{payBillType,jdbcType=DECIMAL},
			</if>
			<if test="loanerId != null">
				loaner_id = #{loanerId,jdbcType=INTEGER},
			</if>
			<if test="guaranteeId != null">
				guarantee_id = #{guaranteeId,jdbcType=INTEGER},
			</if>
			<if test="maxInvestAmount != null">
				max_invest_amount = #{maxInvestAmount,jdbcType=DECIMAL},
			</if>
			<if test="isinvest != null">
				isinvest = #{isinvest,jdbcType=VARCHAR},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.jvv.p2p.entity.TradeDto">
		update p2p_trade
		set create_time = #{createTime,jdbcType=TIMESTAMP},
		update_time =
		#{updateTime,jdbcType=TIMESTAMP},
		chanel_id = #{chanelId,jdbcType=VARCHAR},
		ext_id = #{extId,jdbcType=INTEGER},
		code =
		#{code,jdbcType=VARCHAR},
		demand_id = #{demandId,jdbcType=INTEGER},
		trade_name = #{tradeName,jdbcType=VARCHAR},
		trade_amount =
		#{tradeAmount,jdbcType=DECIMAL},
		perlen = #{perlen,jdbcType=DECIMAL},
		interest_rate = #{interestRate,jdbcType=DECIMAL},
		least_invest_amount =
		#{leastInvestAmount,jdbcType=DECIMAL},
		invested_amount = #{investedAmount,jdbcType=DECIMAL},
		saturation_condition_method =
		#{saturationConditionMethod,jdbcType=VARCHAR},
		saturation_condition = #{saturationCondition,jdbcType=DECIMAL},
		time_limit_unit =
		#{timeLimitUnit,jdbcType=VARCHAR},
		time_limit = #{timeLimit,jdbcType=DECIMAL},
		invest_start_date = #{investStartDate,jdbcType=TIMESTAMP},
		invest_end_date = #{investEndDate,jdbcType=TIMESTAMP},
		trade_expire_date = #{tradeExpireDate,jdbcType=TIMESTAMP},
		trade_effective_date =
		#{tradeEffectiveDate,jdbcType=TIMESTAMP},
		trade_finish_date = #{tradeFinishDate,jdbcType=TIMESTAMP},
		ext_create_time =
		#{extCreateTime,jdbcType=TIMESTAMP},
		status = #{status,jdbcType=DECIMAL},
		iscreatecontract = #{iscreatecontract,jdbcType=DECIMAL},
		is_payed =
		#{isPayed,jdbcType=DECIMAL},
		allow_defer_day = #{allowDeferDay,jdbcType=DECIMAL},
		month_bill_day = #{monthBillDay,jdbcType=DECIMAL},
		trade_status = #{tradeStatus,jdbcType=DECIMAL},
		charge_status = #{chargeStatus,jdbcType=DECIMAL},
		biz_type = #{bizType,jdbcType=VARCHAR},
		pay_bill_type = #{payBillType,jdbcType=DECIMAL},
		loaner_id = #{loanerId,jdbcType=INTEGER},
		guarantee_id = #{guaranteeId,jdbcType=INTEGER},
		max_invest_amount = #{maxInvestAmount,jdbcType=DECIMAL},
		isinvest = #{isinvest,jdbcType=VARCHAR}
		where id = #{id,jdbcType=VARCHAR}
	</update>
</mapper>